.container{
display: flex ;
flex-direction: column ;
width:  100%;
height: 100%;
}


.esquerda{
    width: 50%;
    
    margin-right:auto ;
    background-color: aqua;
    
}

.quadra{
    width: 50%;
    margin-left: auto;

}

.direita{
    : center;
    width: 570px;
    height: 500px;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.85);
    border-radius: 20px;

    
}

.flex{
    display: flex;
}

