.container{
display: flex ;
width:  100vh;
height: 100vh;
}


.esquerda{
    width: 100%;
    margin-right:auto ;
    background-color: aqua;
    
}

.quadra{
    
    margin-left: auto;
    justify-self: center; 
    align-content: center; 


}

.direita{
    justify-content: center; 
    align-items: center; 
    
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.85);
    

    
}

.flex{
    display: flex;
}

