* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh; /* tela inteira */
}

/* LADO ESQUERDO */
.left {
  width: 50%;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* imagem sem distorcer */
}

/* LADO DIREITO */
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.right h2 {
  margin-bottom: 20px;
}

.right form {
  display: flex;
  flex-direction: column;
}

.right input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
}

.right button {
  padding: 12px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.right button:hover {
  background-color: #43a047;
}
